.front-page {
    
}

.front-home {
    text-align: center;
    padding: 5%;
    background-color: #1C1C1E;
    color: white;
}


.my-name {
    font-size: 2vw;
    margin: 0;
    display: flex;
    justify-content: center;
}

.my-name-1 {
    margin: 0;
}

.my-name-2 {
    margin: 0;
    padding-left: 0.5%;
    font-weight: bold;
    /* color: #F1A957; */
}

.front-logo {
    width: 8vw;
    height: auto;
}

.skill-card {
    padding: 5%;
    /* background-color: #EFF1F3; */
    background-color: white;
    display: flex;
    justify-content: center;
}

.lang-block {
    padding: 0 10%;
}

.lang-title {
    font-family: 'Tahoma';
    font-size: 2vw;
    color: #1C1C1E;
}

@media only screen and (max-width: 600px) {
    
    .my-name {
        font-size: 4vw;
    }

    .front-logo {
        width: 25vw;
    }
  }

