.info {
    font-size: 150%;
    padding: 0 0 12% 2%;
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.info2 {
    font-size: 150%;
    padding: 0 0 6% 2%;
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    display: block;
    margin-left: 0;
    width: 100%;
    text-align: left;
    padding-bottom: 6%;
    padding-top: 6%;
    background-color: transparent;
    outline: none;
    border: transparent;
}

.nav-item2 {
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 100%;
    padding: 5% 0 5% 0;
    background-color: transparent;
    outline: none;
    border: transparent;
}

.nav {
    background-color: darksalmon;
    margin-left: 0;
    height: 100%;
    position: fixed;
    margin-right: 75%;
    padding-top: 15%;

}